<div class='row'>
  <div class='col-xs-12'>
    <h1>Currency rate</h1>

    <div class='well'>
      Current rate is <b><%= render partial: 'rate', locals: { rate: @rate } %></b>
    </div>
  </div>
</div>
